# Configuración de MongoDB Atlas
MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.rxvmwqw.mongodb.net/<nombre-db>?retryWrites=true&w=majority

EMAIL_USER=tu-correo@dominio.com
EMAIL_PASS=tu-contraseña-smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_REJECT_UNAUTHORIZED=false

SESSION_SECRET=una-frase-larga-y-secreta
